extends layout

block content
  h1= title
  p Welcome to #{title}
  p Added a message
   br
  - var btnType = 'primary'
  - var btnSize = 'xl'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) touch me
